@media only screen and (max-width: 780px) {
  body {
    font-family: SensationLight;
  }
  .site-logo-container {
    display: none;
  }
  .site-logo-container-mobile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .nav-items {
    display: none;
  }
}
